*,
*::before,
*::after {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body, html {
  background: #141414;
  font-size: 16px;
  color: #fff;
}

.CircularProgressbar .CircularProgressbar-text {
  font-weight: 700;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: transparent !important;
}

/*? Scrollbar */
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #141414;
}

body::-webkit-scrollbar-thumb {
  background-color: #b91c1c;
  outline: 1px solid #b91c1c;
  border-radius: 0.3rem;
}